/* --GENERAL-- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0; }

p {
  line-height: 2;
  font-size: 10px; }

h1, h2, h3 {
  font-weight: 300; }

h1 {
  font-size: 44px;
  margin: 0; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 10px;
  font-weight: 700; }

.container {
  width: 66%;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      width: 80%; } }

.adress {
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  width: 110px;
  padding: 0; }
  @media (max-width: 992px) {
    .adress {
      left: -1%; } }
  @media (max-width: 768px) {
    .adress {
      left: -3%; } }
  @media (max-width: 600px) {
    .adress {
      display: none; } }

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: .5s ease; }

section a {
  font-size: 10px;
  padding: 6px;
  border-radius: 3px; }
  section a span {
    padding-left: 6px; }
  section a:hover {
    background: rgba(0, 0, 0, 0.5); }

[class^="col-"] {
  float: left;
  min-height: 1px; }

/* --GRID-- */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 992px) {
  .col-m-6 {
    width: 50%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-12 {
    width: 100%; } }
@media (max-width: 768px) {
  .col-s-12 {
    width: 100%; }

  .col-s-6 {
    width: 50%; } }
/*clearfix*/
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

/* --HEADER-- */
header {
  margin: 0 auto;
  max-width: 1800px;
  background: url("../images/header.jpg") center 0/cover;
  position: relative;
  color: #fff; }
  header .phone {
    width: 38%;
    position: absolute;
    top: 29%;
    right: 16%; }
    @media (max-width: 992px) {
      header .phone {
        top: 32%; } }
    @media (max-width: 768px) {
      header .phone {
        top: 35%; } }
    @media (max-width: 726px) {
      header .phone {
        display: none; } }
  header .adress {
    top: 53%; }
    header .adress span {
      font-weight: 300;
      color: #bad3db;
      padding-right: 7px; }
  header a {
    width: 5.6%;
    position: absolute;
    top: 6%;
    left: 17%; }
    @media (max-width: 992px) {
      header a {
        left: 10%; } }
    header a .logo {
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      transition: .5s ease; }
      header a .logo:hover {
        opacity: 0.7; }
  header .container {
    padding-top: 24%;
    padding-bottom: 20%; }
    header .container p {
      padding-right: 20%; }

/* --SECTION 1--*/
.section-1 {
  padding: 4% 0; }
  .section-1 .col-6 {
    padding-right: 3%; }
    .section-1 .col-6 h2 {
      color: #222626; }
    .section-1 .col-6 p {
      color: #959595; }
  .section-1 .col-padding {
    padding-top: 15.5%; }
    @media (max-width: 992px) {
      .section-1 .col-padding {
        padding-top: 10%; } }
    @media (max-width: 768px) {
      .section-1 .col-padding {
        padding-top: 0; } }

/* --SECTION 2--*/
.section-2 {
  color: #fff; }
  .section-2 [class^="col-"] {
    padding: 3.5%;
    height: 200px; }
    .section-2 [class^="col-"] h3 {
      margin: 0; }
    .section-2 [class^="col-"] a {
      margin: 6px 0; }
  .section-2 .box-1 {
    background: #f5989d; }
  .section-2 .box-2 {
    background: #615f7d; }
  .section-2 .box-3 {
    background: url("../images/gallery_small.jpg") center 0/cover no-repeat;
    position: relative;
    transition: .8s ease; }
    .section-2 .box-3:hover {
      background: url("../images/gallery_small_hover.jpg") center 0/cover no-repeat; }
    .section-2 .box-3 i {
      right: 10%; }
      @media (max-width: 768px) {
        .section-2 .box-3 i {
          right: 5%; } }
  .section-2 .box-4 {
    background: url("../images/gallery_large.jpg") center 0/cover no-repeat;
    position: relative;
    transition: 0.8s ease; }
    .section-2 .box-4:hover {
      background: url("../images/gallery_large_hover.jpg") center 0/cover no-repeat; }
    .section-2 .box-4 p {
      padding-right: 35%;
      padding-bottom: 4%; }
    .section-2 .box-4 i {
      right: 5%; }
  .section-2 .box-5 {
    background: #82ca9c; }
  .section-2 i {
    position: absolute;
    bottom: 15%; }

/* --SECTION 3-- */
.section-3 {
  position: relative;
  margin: 5% 0 7%; }
  .section-3 [class^="col-"] {
    padding-right: 3%; }
    @media (max-width: 768px) {
      .section-3 [class^="col-"] {
        padding-right: 0; } }
  .section-3 .adress {
    color: #b8b8b8; }
  .section-3 h2 {
    color: #222626; }
  .section-3 h4 {
    color: #67676d; }
  .section-3 p {
    color: #959595; }

/* --SECTION 4-- */
.section-4 {
  background: url("../images/section4_car.jpg") center 0/cover no-repeat;
  color: #fff; }
  .section-4 .container {
    padding: 24.5% 0 6.5%; }
    @media (max-width: 992px) {
      .section-4 .container {
        padding-top: 10%; } }
    .section-4 .container [class^="col-"] {
      padding-right: 7%;
      padding-left: 1%; }
    .section-4 .container h1 {
      line-height: 1.2; }
    .section-4 .container p {
      padding-right: 2%; }

/* --SECTION 5-- */
.section-5 {
  position: relative;
  padding: 4% 0 8%;
  background: #82ca9c;
  color: #fff; }
  .section-5 [class^="col-"] {
    padding-right: 3%; }
    @media (max-width: 768px) {
      .section-5 [class^="col-"] {
        padding-right: 0; } }
  .section-5 .adress {
    top: 19%; }

/* --SECTION 6-- */
.section-6 {
  position: relative;
  background: #f6f7fa;
  padding-bottom: 2%; }
  .section-6 .adress {
    top: 23%;
    color: #b8b8b8; }
  .section-6 .container {
    padding: 6% 1%; }
    .section-6 .container [class^="col-"] {
      padding: 4%; }
    .section-6 .container .col-white {
      background: #fff;
      box-shadow: 0 0 50px #e1e1e1; }
    .section-6 .container .grey-button, .section-6 .container .purple-button {
      font-size: 8px;
      padding: 3px 10px; }
    .section-6 .container .grey-button {
      background: #e1e1e1; }
    .section-6 .container .purple-button {
      background: #bd8cbf; }
    .section-6 .container .green-button {
      background: #82ca9c;
      font-size: 10px;
      padding: 10px 25px;
      display: inline-block;
      margin: 8px 0; }
    .section-6 .container a:hover {
      background: rgba(0, 0, 0, 0.5); }
    .section-6 .container h3 {
      margin: 10px 0 0;
      color: #2e3b4e; }
    .section-6 .container p {
      padding-right: 12%;
      color: #8297a7; }
      .section-6 .container p i {
        color: #c5c5c5;
        padding-right: 10px; }

/* --FOOTER-- */
footer {
  background: #192431;
  color: #f6f7fa; }
  footer .container {
    padding: 6% 0; }
    footer .container .row-small {
      padding: 6% 0 2%; }
      @media (max-width: 992px) {
        footer .container .row-small {
          padding: 0; } }
      footer .container .row-small h4 {
        padding-left: 1px;
        padding-bottom: 7px; }
      footer .container .row-small ul {
        list-style: none;
        font-size: 10px;
        padding: 0;
        line-height: 1.8; }
    footer .container .col-footer {
      padding-left: 10%; }
      @media (max-width: 992px) {
        footer .container .col-footer {
          padding-left: 0; } }
      footer .container .col-footer input {
        margin-top: 7px;
        padding: 14px;
        font-size: 12px;
        width: 85%;
        border: none;
        border-radius: 2px 0 0 2px; }
      footer .container .col-footer button {
        text-align: center;
        outline: 0;
        background: #82ca9c;
        border: none;
        width: 14%;
        margin-left: -5px;
        cursor: pointer;
        transition: .5s ease;
        border-radius: 0 2px 2px 0; }
        footer .container .col-footer button:hover {
          background: #67676d; }
        footer .container .col-footer button i {
          font-size: 12px;
          color: #fff;
          padding: 14px 0; }
      footer .container .col-footer p {
        color: #57697f;
        font-size: 9px;
        padding-right: 25%; }

/*# sourceMappingURL=style.css.map */