@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0; }

p {
  line-height: 2;
  font-size: 10px; }

h1, h2, h3 {
  font-weight: 300; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

.container {
  width: 66%;
  margin: 0 auto; }

.adress {
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  width: 110px;
  padding: 0; }

[class^="col-"] {
  float: left;
  min-height: 1px; }

/* --GRID-- */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*clearfix*/
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

/* --HEADER-- */
header {
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
  background: url("../images/header.jpg") center 0/cover;
  position: relative;
  color: #fff; }
  header .phone {
    width: 38%;
    position: absolute;
    top: 29%;
    right: 16%; }
  header .adress {
    top: 53%; }
    header .adress span {
      font-weight: 300;
      color: #bad3db;
      padding-right: 7px; }
  header a {
    width: 5.6%;
    position: absolute;
    top: 6%;
    left: 17%; }
    header a .logo {
      width: 100%;
      fit-object: cover;
      transition: .5s ease; }
      header a .logo:hover {
        opacity: 0.7; }
  header .container {
    padding-top: 24%;
    padding-bottom: 20%; }
    header .container h1 {
      margin: 0; }
    header .container p {
      padding-right: 20%; }

/* --SECTION 1--*/
.section-1 {
  padding: 4% 0; }
  .section-1 .col-6 {
    padding-right: 3%; }
    .section-1 .col-6 h2 {
      color: #222626; }
    .section-1 .col-6 p {
      color: #959595; }
  .section-1 .col-padding {
    padding-top: 15.5%; }

/* --SECTION 2--*/
.section-2 {
  color: #fff; }
  .section-2 [class^="col-"] {
    padding: 3.5%; }
    .section-2 [class^="col-"] h3 {
      margin: 0; }
    .section-2 [class^="col-"] a {
      font-size: 10px;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      display: inline-block;
      margin: 12px 0;
      transition: .5s ease; }
      .section-2 [class^="col-"] a span {
        padding-left: 6px; }
      .section-2 [class^="col-"] a:hover {
        opacity: 0.7; }
  .section-2 .box-1 {
    background: #f5989d; }
  .section-2 .box-2 {
    background: #615f7d; }
  .section-2 .box-3 {
    background: url("../images/gallery_small.jpg") center 0/cover no-repeat;
    position: relative;
    transition: .8s ease; }
    .section-2 .box-3:hover {
      background: url("../images/gallery_small_hover.jpg") center 0/cover no-repeat; }
    .section-2 .box-3 i {
      right: 10%; }
  .section-2 .box-4 {
    background: url("../images/gallery_large.jpg") center 0/cover no-repeat;
    position: relative;
    transition: 0.8s ease; }
    .section-2 .box-4:hover {
      background: url("../images/gallery_large_hover.jpg") center 0/cover no-repeat; }
    .section-2 .box-4 p {
      padding-right: 35%;
      padding-bottom: 3.7%; }
    .section-2 .box-4 i {
      right: 5%; }
  .section-2 .box-5 {
    background: #82ca9c; }
  .section-2 i {
    position: absolute;
    bottom: 15%; }

/*# sourceMappingURL=style.css.map */
